<div class="tagline-upper text-center text-heading mt-5 d-none d-lg-block">
	<%= link_to image_tag("recipeLocker.png") %>
</div>
<div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block"></div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
	<div class="container">
		<%= link_to "RecipeLocker", root_path, class: "navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none", id: "logo" %>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active px-lg-4">
					<%= link_to "Home", pages_home_path, class: "nav-link text-uppercase text-expanded" %>
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item px-lg-4">
					<%= link_to "Users", users_path, class: "nav-link text-uppercase text-expanded" %>
				</li>
				<li class="nav-item px-lg-4">
					<%= link_to "All Recipes", recipes_path, class: "nav-link text-uppercase text-expanded" %>
				</li>
				<% if logged_in? %>
					<li class="nav-item px-lg-4">
						<%= link_to "Create a Recipe", new_recipe_path, class: "nav-link text-uppercase text-expanded" %>
					</li>
					<li class="nav-item dropdown px-lg-4">
						<a class="nav-link dropdown-toggle text-uppercase text-expanded" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<%= current_user.firstname %>'s Profile
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#"><%= link_to "View your profile", user_path(current_user), class: "nav-link text-uppercase text-expanded" %></a>
							<a class="dropdown-item" href="#"><%= link_to "Edit your profile", edit_user_path(current_user), class: "nav-link text-uppercase text-expanded" %></a>
						</div>
					</li>
					<li class="nav-item px-lg-4">
						<%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-warning btn-login" %>
					</li>
				<% else %>
					<li class="nav-item px-lg-4">
						<%= link_to "Log In", login_path, class: "btn btn-warning btn-login" %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>